
@{
    ViewBag.Title = "Sobre";
}

<div class="row m0">
    <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-lg-6">
        <h2>O VoluntarAê</h2>
        <p>
            é uma plataforma onde conectamos atividades voluntárias da cidade de Niterói à
            universitários que precisam de atividades complementares baseada pelo MEC na lei n°9.131,
            por conversão da medida provisória n°1.126, de 1995.
            Atrelando a projetos sociais ativos na comunidade.
        </p>
    </div>
</div>