
@{
    ViewBag.Title = "Sobre";
}

<h2>Sobre</h2>

<p>
    O VoluntarAê 
    é uma plataforma onde conectamos atividades voluntárias da cidade de Niterói à 
    universitários que precisam de atividades complementares baseada pelo MEC na lei n°9.131, 
    por conversão da medida provisória n°1.126, de 1995.
    Atrelando a projetos sociais ativos na comunidade.
</p>

